(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: Some(Cycle),
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("tb_i2c_od_pads.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "tb_i2c_od_pads",
            ],
            id: Wellen((3)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (21): Group((
                name: "BUS",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "scl_pull",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "scl_pull",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "scl",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "scl",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "sda_pull",
                    id: Wellen((14)),
                ),
                color: None,
                background_color: None,
                display_name: "sda_pull",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "sda_in",
                    id: Wellen((20)),
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "sda_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "scl_in",
                    id: Wellen((19)),
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "scl_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Group((
                name: "SLAVE",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (22): Group((
                name: "MASTER",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "sda_sync",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "sda_sync",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "clk",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Clock"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "rst_n",
                    id: Wellen((12)),
                ),
                color: None,
                background_color: None,
                display_name: "rst_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "slave_sda_pull",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "slave_sda_pull",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "sda",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "sda",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_i2c_od_pads",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "scl_sync",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "scl_sync",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 25,
        viewports: [
            (
                curr_left: (0.059751686622692333),
                curr_right: (0.9982000852978535),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            85751,
        ])),
        markers: {},
        focused_item: Some((12)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (5),
        level: 1,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)