(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("tb_tick_div.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "tb_tick_div",
                "dut",
            ],
            id: Wellen((4)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_tick_div",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "prescale",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "prescale [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_tick_div",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "tick",
                    id: Wellen((12)),
                ),
                color: None,
                background_color: None,
                display_name: "tick",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Group((
                name: "Devider",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_tick_div",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "cnt",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "cnt [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_tick_div",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "enable",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_tick_div",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "rst_n",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "rst_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_tick_div",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "W",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "W [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_tick_div",
                            "dut",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "clk",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 8,
        viewports: [
            (
                curr_left: (-0.00685665974972874),
                curr_right: (0.36102270522445107),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            92,
        ])),
        markers: {},
        focused_item: Some((5)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (5),
        level: 1,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)